---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const pageTitle = 'Blog';
const allPosts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---

<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <p>This is where I will post about my journey learning stuff.</p>
    <ul>
        {
            allPosts.map((post) => (
                <BlogPost url={`/posts/${post.id}/`} title={post.data.title} tags={post.data.tags} />
            ))
        }
    </ul>
    <a href="/tags/">Tags index page</a>
</BaseLayout>
