---
//index.astro
import BaseLayout from '@/layouts/BaseLayout.astro';
import '@/assets/styles/garden.css';
import { getCollection, type CollectionEntry } from 'astro:content';

const MAX_POSTS = 5;
const posts: CollectionEntry<'garden'>[] = await getCollection('garden');

const latestPosts = posts
    .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
    .slice(0, MAX_POSTS);
const pageTitle = ``;
---

<BaseLayout isPost={true} pageTitle={pageTitle} mainClass="homepage">
    <div class="hero flow" slot="upper-section">
        <h1>mournstera</h1>
        <p>
            Hi, I'm Flipse <svg
                role="img"
                aria-label="metal-hand sign"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                ><path d="M11 11.5v-1a1.5 1.5 0 0 1 3 0v1.5"></path><path
                    d="M17 12v-6.5a1.5 1.5 0 0 1 3 0v10.5a6 6 0 0 1 -6 6h-2h.208a6 6 0 0 1 -5.012 -2.7a69.74 69.74 0 0 1 -.196 -.3c-.312 -.479 -1.407 -2.388 -3.286 -5.728a1.5 1.5 0 0 1 .536 -2.022a1.867 1.867 0 0 1 2.28 .28l1.47 1.47"
                ></path><path d="M14 10.5a1.5 1.5 0 0 1 3 0v1.5"></path><path
                    d="M8 13v-8.5a1.5 1.5 0 0 1 3 0v7.5"></path></svg
            >

            I have generally been making Tumblr themes for 16 years, but it was time to set sail
            elsewhere as well. I started my first blog in 2000 and have now returned to the old
            ship. I am very much not a trust-the-process type of person, but I guess this is kind of
            that.
        </p>
    </div>
    <hr />
    <section class="latest-posts">
        <h2>Latest words</h2>
        <ul class="garden-list">
            {
                latestPosts.map((post) => (
                    <li class="garden-title">
                        <time datetime={post.data.pubDate.toISOString()}>
                            {new Intl.DateTimeFormat('en-GB', {
                                day: '2-digit',
                                month: 'short',
                                year: 'numeric',
                            }).format(post.data.pubDate)}
                        </time>
                        <a href={`/garden/${post.id}`}>{post.data.title}</a>
                    </li>
                ))
            }
        </ul>
    </section>

    <style>
        h1 {
            text-transform: none;
            font-weight: 400;
            font-size: clamp(3.75rem, 8vw, 6rem);
        }

        .hero {
            max-width: var(--layout--section);

            svg {
                vertical-align: text-bottom;
            }
        }
        hr {
            margin-block: 0 var(--space-5);
        }
        h2 {
            margin-bottom: var(--space-4);
        }
        time {
            color: var(--text);
        }
    </style>
</BaseLayout>
