---
import BaseLayout from './BaseLayout.astro';
import '../assets/styles/post-content.css';
import { Sprout, Shovel, DateClock, DateCalendar, DateUpdated } from '../components/icons';

const {
    frontmatter,
    section = 'blog',
    readingTime, // use the value passed from [...slug].astro
} = Astro.props;

const isGarden = section === 'garden';

const publishedLabel = isGarden ? 'Planted' : 'Posted';
const updatedLabel = isGarden ? 'nurtured' : 'updated';
const PublishedIcon = isGarden ? Sprout : DateCalendar;
---

<BaseLayout pageTitle={frontmatter.title} pageDescription={frontmatter.description} isPost={true}>
    <article class={`post ${section}-post`}>
        <h1>{frontmatter.title}</h1>

        <p class="entry-desc">{frontmatter.description}</p>

        {
            frontmatter.image?.url && (
                <img
                    class="post-feature"
                    src={frontmatter.image.url}
                    alt={frontmatter.image.alt ?? ''}
                />
            )
        }

        <div class="entry-meta" role="group" aria-label="Post metadata">
            <time
                class="posted entry-flex"
                datetime={frontmatter.pubDate.toISOString()}
                aria-label={`${publishedLabel} on ${frontmatter.pubDate.toLocaleDateString(
                    'en-GB',
                    {
                        day: 'numeric',
                        month: 'short',
                        year: 'numeric',
                    },
                )}`}>
                <PublishedIcon />
                {publishedLabel}
                {
                    frontmatter.pubDate.toLocaleDateString('en-GB', {
                        day: 'numeric',
                        month: 'short',
                        year: 'numeric',
                    })
                }
            </time>

            {
                frontmatter.lastUpdated && (
                    <time
                        class="updated entry-flex"
                        datetime={frontmatter.lastUpdated.toISOString()}
                        aria-label={`${updatedLabel} on ${frontmatter.lastUpdated.toLocaleDateString(
                            'en-GB',
                            { day: 'numeric', month: 'short', year: 'numeric' },
                        )}`}>
                        + {updatedLabel}
                        {frontmatter.lastUpdated.toLocaleDateString('en-GB', {
                            day: 'numeric',
                            month: 'short',
                            year: 'numeric',
                        })}
                    </time>
                )
            }
            <div
                class="entry-flex reading-time"
                aria-label={`Estimated reading time: ${readingTime} minutes`}>
                <DateClock />
                {readingTime} min read
            </div>
        </div>

        <slot />
    </article>
</BaseLayout>
