---
// \MarkdownPostLayout.astro
import BaseLayout from './BaseLayout.astro';
import '../assets/styles/posts.css';
import { Sprout, DateClock } from '../components/icons';

const {
    frontmatter,
    readingTime, // use the value passed from [...slug].astro
} = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title} pageDescription={frontmatter.description} isPost={true}>
    <article class="post">
        {
            frontmatter.image?.url && (
                <img
                    class="post-feature"
                    src={frontmatter.image.url}
                    alt={frontmatter.image.alt ?? ''}
                />
            )
        }

        <h1>{frontmatter.title}</h1>

        <p class="entry-desc">{frontmatter.description}</p>

        <div class="entry-meta" role="group" aria-label="Post metadata">
            <time
                class="posted entry-flex"
                datetime={frontmatter.pubDate.toISOString()}
                aria-label={`Planted on ${frontmatter.pubDate.toLocaleDateString('en-GB', {
                    day: 'numeric',
                    month: 'short',
                    year: 'numeric',
                })}`}>
                <Sprout />
                Planted
                {
                    frontmatter.pubDate.toLocaleDateString('en-GB', {
                        day: 'numeric',
                        month: 'short',
                        year: 'numeric',
                    })
                }
            </time>

            {
                frontmatter.lastUpdated && (
                    <time
                        class="updated entry-flex"
                        datetime={frontmatter.lastUpdated.toISOString()}
                        aria-label={`Nurtured on ${frontmatter.lastUpdated.toLocaleDateString(
                            'en-GB',
                            { day: 'numeric', month: 'short', year: 'numeric' },
                        )}`}>
                        + Nurtured
                        {frontmatter.lastUpdated.toLocaleDateString('en-GB', {
                            day: 'numeric',
                            month: 'short',
                            year: 'numeric',
                        })}
                    </time>
                )
            }
            <div
                class="entry-flex reading-time"
                aria-label={`Estimated reading time: ${readingTime} minutes`}>
                <DateClock />
                {readingTime} min read
            </div>
        </div>

        <slot />
    </article>
</BaseLayout>
