---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <h1 class="post-title">{frontmatter.title}</h1>
    <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>

    {
        frontmatter.tags?.length > 0 && (
            <nav class="post-tags">
                <ul>
                    {frontmatter.tags.map((tag: string) => (
                        <li>
                            <a
                                href={`/tags/${encodeURIComponent(tag)}`}
                                class="tag"
                            >
                                {tag}
                            </a>
                        </li>
                    ))}
                </ul>
            </nav>
        )
    }

    <p><em>{frontmatter.description}</em></p>
    <p>Written by: {frontmatter.author}</p>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

    <slot />
</BaseLayout>
