---
// MarkdownPostLayout.astro
import BaseLayout from '@/layouts/BaseLayout.astro';
import TableOfContents from '@/components/garden/TableOfContents.astro';
import Lightbox from '@/components/base/Lightbox.astro';
import '@/assets/styles/post.css';
import { Clock2Icon, ShovelIcon, RefreshCcwIcon } from '@lucide/astro';

const {
    // use the value passed from [...slug].astro
    frontmatter,
    readingTime,
    headings,
    hasToC,
} = Astro.props;
---

<BaseLayout
    mainClass="is-post"
    pageTitle={frontmatter.title}
    pageDescription={frontmatter.description}
    isPost={true}
    hasSidebar={hasToC}>
    {hasToC && <TableOfContents slot="sidebar" headings={headings} />}

    <div class="flow" slot="upper-section">
        <h1 id="post-title">{frontmatter.title}</h1>

        <p class="entry-desc">{frontmatter.description}</p>

        <div class="entry-meta" role="group" aria-label="Post metadata">
            <time
                class="posted"
                datetime={frontmatter.pubDate.toISOString()}
                aria-label={`${frontmatter.pubDate.toLocaleDateString('en-GB', {
                    day: 'numeric',
                    month: 'long',
                    year: 'numeric',
                })}`}
                ><ShovelIcon />
                {
                    frontmatter.pubDate.toLocaleDateString('en-GB', {
                        day: 'numeric',
                        month: 'long',
                        year: 'numeric',
                    })
                }
            </time>

            <div class="reading" aria-label={`Estimated reading time: ${readingTime} minutes`}>
                <Clock2Icon />
                {readingTime} min read
            </div>

            {
                frontmatter.lastUpdated && (
                    <time
                        class="updated"
                        datetime={frontmatter.lastUpdated.toISOString()}
                        aria-label={`Updated: ${frontmatter.lastUpdated.toLocaleDateString(
                            'en-GB',
                            { day: 'numeric', month: 'long', year: 'numeric' },
                        )}`}>
                        <RefreshCcwIcon />
                        {frontmatter.lastUpdated.toLocaleDateString('en-GB', {
                            day: 'numeric',
                            month: 'short',
                            year: 'numeric',
                        })}
                    </time>
                )
            }
        </div>

        {
            frontmatter.image?.url ? (
                <img
                    class="post-feature lbox"
                    src={frontmatter.image.url}
                    alt={frontmatter.image.alt ?? ''}
                />
            ) : (
                <hr />
            )
        }
    </div>

    <article class="post" aria-labelledby="post-title">
        <slot />
        <Lightbox />
    </article>
</BaseLayout>
